---
import "@/style/index.css";

import BaseHead from "@/components/base/BaseHead.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/constants";

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	image = "/favicon.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<BaseHead
			title={title === SITE_TITLE
				? `Home • ${title}`
				: `${title} • ${SITE_TITLE}`}
			description={description}
			image={image}
		/>
	</head>

	<body>
		<slot />
	</body>
</html>
