---
import "@/style/index.css";

import BaseHead from "@/components/base/BaseHead.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/constants";

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	image,
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title === SITE_TITLE
				? `Home • ${title}`
				: `${title} • ${SITE_TITLE}`}
			description={description}
			image={image}
		/>
	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	@reference "@/style/index.css";

	html,
	body {
		@apply m-0 w-full h-full;
	}
</style>
