---
import "@/style/index.css";

import BaseHead from "@/components/base/BaseHead.astro";

import { SITE_TITLE, SITE_DESCRIPTION } from "@/constants";

const {
	title = SITE_TITLE,
	description = SITE_DESCRIPTION,
	image = "/favicon.svg",
} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={title === SITE_TITLE
				? `Home • ${title}`
				: `${title} • ${SITE_TITLE}`}
			description={description}
			image={image}
		/>
	</head>

	<body>
		<slot />
	</body>
</html>

<style>
	@reference "@/style/index.css";

	@layer base {
		:root {
			@apply bg-zinc-100 text-zinc-900 dark:bg-zinc-900 dark:text-zinc-100;
			@apply font-sans;
		}

		html,
		body {
			@apply m-0 w-full h-full;
		}
	}
</style>
